
<app-navbar></app-navbar>

<section class="py-12">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-12 mx-auto">
                <div class="card card-lg">
                    <div class="card-body">
      
                      <!-- Heading -->
                      <h6 class="mb-7">Nuevo Cliente</h6>
      
                      <!-- Form -->
                      <div class="row">
                        <div class="col-12">
    
                          <!-- Email -->
                          <div class="form-group">
                            <label class="visually-hidden" for="registerFirstName">
                             Nombres *
                            </label>
                            <input class="form-control form-control-sm" name="nombres" [(ngModel)]="cliente.nombres" type="text" placeholder="Nombres" >
                          </div>
    
                        </div>
                        <div class="col-12">
    
                          <!-- Email -->
                          <div class="form-group">
                            <label class="visually-hidden" for="registerLastName">
                              Apellidos *
                            </label>
                            <input class="form-control form-control-sm" name="Apellidos" [(ngModel)]="cliente.apellidos" type="text" placeholder="Apellidos" >
                          </div>
    
                        </div>
                        <div class="col-12">
    
                          <!-- Email -->
                          <div class="form-group">
                            <label class="visually-hidden" for="registerEmail">
                              Email *
                            </label>
                            <input class="form-control form-control-sm"  type="email" placeholder="Email " name="email" [(ngModel)]="cliente.email">
                          </div>
    
                        </div>
                        <div class="col-12 col-md-6">
    
                          <!-- Password -->
                          <div class="form-group">
                            <label class="visually-hidden" for="registerPassword">
                              Contraseña *
                            </label>
                            <input class="form-control form-control-sm"  type="password" placeholder="Contraseña " name="password" [(ngModel)]="cliente.password">
                          </div>
    
                        </div>
                        <div class="col-12 col-md-6">
    
                          <!-- Password -->
                          <div class="form-group">
                            <label class="visually-hidden" for="registerPasswordConfirm">
                              Confirmar Contraseña *
                            </label>
                            <input class="form-control form-control-sm"  type="password" placeholder="Confirmar Contraseña *" name="passwordConfirmado" [(ngModel)]="cliente.passwordConfirmado">
                          </div>
    
                        </div>
                        <div class="col-12 col-md-auto text-center">
                            <div *ngIf="mensaje" class="text-danger" style="margin-bottom: 1rem;">{{mensaje}}</div>
                          <!-- Link -->
                          <div class="form-group fs-sm text-muted">
                        Al registrar sus datos, acepta nuestro terminos y condiciones y nuestra politica de privacidad y cookies.
                          </div>
    
                        </div>
                        <div class="col-12 col-md">
    
                          <!-- Newsletter -->
                         
    
                        </div>
                        <div class="col-12 text-center">
    
                          <!-- Button -->
                          <button *ngIf="!btnLoad" class="btn btn-sm btn-dark w-100" type="button" (click)="validar()">
                            Registrar
                          </button>
                          <button *ngIf="btnLoad" class="btn btn-sm btn-dark w-100" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Cargando...
                          </button>
    
                        </div>
                      </div>
      
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>